Assembly-CSharp.csproj
FusionHerosProject.sln
.vs/*
[Ll]ibrary/*
[Ll]ogs/*
[Oo]bj/*
[Pp]rojectSettings/*
[Mm]emoryCaptures/*
[Tt]emp/*
[Uu]IElementsSchema/*
[Uu]serSettings/*
.vsconfig
Assembly-CSharp.Player.csproj
.vscode/settings.json
Packages/manifest.json
Packages/packages-lock.json
